<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
                CMS
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
                <p>Dear <span th:text="${name}"></span>,</p>
                <!-- <p>Client Status: <b><span th:text="${clientstatus}"></span></b>  </p> -->
                <p>Following are Client Details: </p>
                <p>
               	<!-- <div style="width: 100%">
               		<span style="width: 50%"><b>Name:</b></span>
               		<span style="width: 50%" th:text="${clientBean.fullName}">
               	</div>
               	<div style="width: 100%">
               		<span style="width: 50%"><b>Client Date:</b></span>
               		<span style="width: 50%" th:text="${#dates.format(clientBean.clientDate, 'dd-MMM-yyyy')}"></span>
               	</div>
               	<div style="width: 100%">
               		<span style="width: 50%"><b>Mobile:</b></span>
               		<span style="width: 50%" th:text="${clientBean.mobile}"></span>
               	</div>
               	<div style="width: 100%">
               		<span style="width: 50%"><b>Email:</b></span>
               		<span style="width: 50%" th:text="${clientBean.email}"></span>
               	</div>
               	<div style="width: 100%">
               		<span style="width: 50%"><b>Dob:</b></span>
               		<span style="width: 50%" th:text="${#dates.format(clientBean.dob, 'dd-MMM-yyyy')}"></span>
               	</div> -->

                </p>
                <p>Thanks</p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">
              <!--   <p><span th:text="${signature}"></span></p>
                <p><span th:text="${location}"></span></p> -->
            </td>
        </tr>
    </table>

</body>
</html>