<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table>
   <tbody>
      <tr>
         <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="670" style="background:#fff;border:0;border-left:1px solid #ccc;border-right:1px solid #ccc">
               <tbody>
                  <tr>
                     <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="670" style="background:#ffffff;table-layout:fixed">
                           <tbody>
                              <tr>
                                 <td style="width:19px;height:77px"> &nbsp; </td>
                                 <td>
                                    <a href="#m_-1733489597236091544_"><img th:src="${companyLogo}" width="200px" class="CToWUd"></a>
                                 </td>
                                 <td width="10" height="77"> &nbsp; </td>
                                 <td width="458" height="77" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333"></td>
                                 <td width="10" height="77"> &nbsp; </td>
                                 <td style="width:85px"></td>
                              </tr>
                              <tr>
                                 <td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">&nbsp;</td>
                                 <td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">&nbsp;</td>
                                 <td height="17" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                    <img width="1" height="1" style="display:block;border:0">
                                 </td>
                                 <td height="17" colspan="4" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">&nbsp;</td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td rowspan="3"></td>
                  </tr>
                  <tr>
                     <td style="background:#fff">
                        <table width="670" border="0" cellpadding="0" cellspacing="0" style="background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                           <tbody>
                              <tr>
                                 <td style="width:85px"></td>
                                 <td>
                                    <table cellpadding="0" cellspacing="0" border="0">
                                       <tbody>
                                          <tr>
                                             <td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px">
                                                Dear <span th:text="${name}"></span>,
                                             </td>
                                          </tr>
                                          <tr>
                                             <td height="10"></td>
                                          </tr>
										  <tr>
											<td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px">
												
                                                 <b> <span th:text="${randomPin}"></span></b>
                                            
                                                <b><span class="il">is the OTP for logging into OKR App</span> <span class="il"></span></b>
											</td>
										  </tr>
                                         
                                          <tr>
                                             <td height="10"></td>
                                          </tr>
                                          <tr>
                                             <td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px">Thanks and Regards,
                                                <br><span class="il">OKR Support Team</span> <span class="il"></span>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td height="10"></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td style="width:85px"></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="670" style="background-color:#eee;background-image:url('');background-position:top;background-repeat:repeat-x;border-top-color:#ddd;border-top-style:solid;border-top-width:1px">
                           <tbody>
                              <tr>
                                 <td colspan="4" height="16"></td>
                              </tr>
                             
                              <tr>
                                 <td colspan="3" height="25"></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
</body>
</html>